body {
    margin: 20px;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    background-color:#9CA3AF;
    
    
    /* background: #EDEBED url(to left, MidnightBlue, #093e79); */
}

body:not(.loaded) #slider img {
    display:none;
  }

/*---header--*/

#body-header {
    height: 20vh;
    padding-top: 1.2rem;
}

.header-container {
    display: flex;
    /* border: 2px solid black; */
    height: inherit;
    width: 100%;
    height: 80px;
}

.header-first-container {
     /* border: 2px solid black;  */
    display: flex;
    width: 26%;
    /* margin-right: 50px; */
    align-items: center;
}

.header-first-container div {
    /* border: 2px solid black; */
    width: 33%;
}

.header-first-container img {
    border-radius: 50%;
    height: 80%;
    width: 70%;
}

.header-first-container span {
    font-size: 25px;

}

.fav-text {
    margin-top: 20px;
    margin-right: 100px;
}

.header-searchbar {
    display: flex;
    width: 30%;
    width: 50%;
    /* border: 2px solid black; */
    align-items: center; 
    /* position: relative; */
}

/* .header-searchbar .search {
    width: 70%;
    flex-grow: 1;
     /* border: 2px solid black;  */



.header-searchbar .search {
    width: 100%; 
    flex-grow: 1;

    /* padding: 5px; */

}

.header-searchbar .searchButton {
    width: 30px;
    height: 34px;
    background: white;
    text-align: center;
    /* border: solid 1px black; */
    border-width: 1px 0 1px 1px;
    margin-right: -5px;
    border-color: black;
    border-radius: 10px 0 0 10px;
    background-color: midnightblue;
    color: white;

}

.header-searchbar .recordButton {
    width: 30px;
    height: 34px;
    border-width: 1px 1px 1px 0;
    margin-left: -13px;
    
    text-align: center;
    border-color: black;
    border-radius: 0 10px 10px 0;
    background-color: midnightblue;
    color: white;
}

.header-searchbar input {

    height: 30px;
    width: 80%;
    margin-left: -10px;
    outline: 0;
    border-width: 1px 0px 1px 0;
    border-color: black;
    background-color:midnightblue;
    /* border:1px solid black; */
    
}

.header-searchbar .notification{
    margin-left: 4rem;
    
    text-align: center;
   
}

.header-searchbar .profileimage{
    margin-left: 7rem;
    height: 100%;
    width: 30%;
   

}

.header-searchbar .profileimage img{
    height: 80px;
    width: 80px;
    border-radius:50% ;
    margin-left: 60px;
   
}

main{
    width: 70%;
    display: inline-block;
    border: 2px solid black;
    height: 138rem;
    
    
}



/*--Album--*/

.album-container{
    display: flex;
    width: 100%;
    height: 250px;
    border: 2px solid black;
    /* transition: 0.2s; */
    box-sizing: border-box;
    justify-content: space-between;
}

.album-container:hover{
    /* transform: scale(1.5); */
}

.album-container img{
    
    width: 33.3%;
    height: inherit;
}

.album-container img:hover{
    transform: scale(1.5);
}



/*--Latest release--*/

.release h3{
    padding-left: 1rem;
}

.latest-release{
    display:flex;
    margin: 10px;
    border: 2px solid black;
    width: 900px;
    height:400px;
}

.release-container{
    display: flex;
    margin-left: 2rem;
    /* border: 2px solid black; */
    width: 900px;
    height: 60vh;
    /* justify-content: space-between;  */
    flex-wrap: wrap;

}

.release-container :hover{
    box-shadow: 0px 0px 2px 1px white;

}



.release-container .music-container{
    display:flex;
    margin-left: 3rem;
    
    
}


.release-container .music-container div img{
    height: 80px;
    width: 100px;
    pointer-events: none;
}

.release-container .music-container div span{
    pointer-events: none;
    font-size: 15px;
}


.release-container .music-container .push span{
    padding-left: 7rem;
    pointer-events: none;
}

.music-name ,.push{
    pointer-events: none;
}



 .music-name span{
    font-size: 1rem;
    margin: 20px;
    text-align: justify;
    pointer-events: none;
}

#popular-artists h3{
    padding-left: 1rem;
}

/*---Popular Artist---*/

.artist{
    display:flex;
    margin: 10px;
    /* border: 2px solid black; */
    width: 900px;
    height:55vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artist div{
    width: 140px;
    height: 120px;
    padding-left: 0.5rem;
    /* border: 2px solid black; */
}

.artist div img{
    border-radius: 50%;
    width: 130px;
    height: 120px;
}

.artist div  span{
    /* text-align: center; */
    padding-left: 1.5rem;
    font-size: 1rem;
}

/*---Music Stations---*/

.different-stations{
    margin-top: 1rem;
}

.station-container{
    display: flex;
    width: 100%;
    height:45vh;
    background-color: ;
    background-image: linear-gradient(to right,blueviolet,lightyellow,lightgreen);
      
}

.theme-music{
    display: flex;
    margin-left: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.theme-music div{
    position: relative;
    text-align: center;
    font-size: 1.5rem;
}

.different-stations {
    margin-top: 8rem;
    margin-left: 1rem;
    flex-grow: 1.5;
}

#div1{
    width: 12vw;
    height: 10vh;
    background-color: darkblue;
}

#div2{
    position: relative;
    width: 10vw;
    height: 14vh;
    top: -1vw;
    left: 1vw;
    background-color: lightgreen;
}

#div3{
    position: relative;
    background-color: orange;
    width: 8vw;
    height: 20vh;
    top: -1vw;
    left: 1vw;
    box-sizing: border-box;
}

#div3 i{
    padding-top: 2rem;
    padding-left: 2.5rem;
}
#div3 span{
    padding-left: 0.5rem;
}


.theme-music .music-type{
    position: absolute;
    top:40px;
    left: 2.5rem;
}

.theme-music div img{
    border-radius: 50%;
    width: 150px;
    height: 120px;
    opacity: 0.6;
}

/**---music-genre---*/

.genre-container{

    margin-top: 50px;
    display: flex;
    width: 100%;
    height:200px;
    justify-content: space-around;
    /* border:2px solid black; */

}

.genre-container div{
    width: 240px;
    height: 190px;
    /* border: 2px solid black;   */
}

.genre-container  div img{
    
    width: inherit;
    height: inherit;
    opacity: 0.7;

}

.genre-container .genre-stations{
    position: relative;
    

} 

.genre-container .genre-stations div{
    top: 5rem;
    left: 5rem;
    position: absolute;
    width: 290px;
    height: 100px;
}

/*---English Music---*/

#english-songs{
    width: 100%;
    height: 10%;
    /* border:2px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
}

#english-songs .child{

   
    height: 5%;
    width: 100%;
    margin-bottom: 1rem;
    /* border:2px solid black; */
    
}

 #english-songs .child{
    height: 3rem;
    width: 100%;
} 

/* #english-songs div:not(:first-child){
    height: inherit;
    width: 100%;
} */

 .song-list {
    display: flex;
    /* flex-direction: row; */
    /* border: 2px solid white; */
    height: 250px;
    width: 100%;
    margin-right: 20px;
    justify-content: space-evenly;

}

.label-tile{
    width: 16%;
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.label-tile  img{
    width: 80%;
    height: 40%;
}

.song-list .label-tile img:hover{
    box-shadow: 0px 0px 10px 1px white;
    opacity: 0.5;
}



.label-tile span{
    font-size: 1rem;
    margin-top: 0.5rem;
}


.label-tile span:last-child{
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

/*---Aside---*/
aside{

    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    width: 25%;
    height: 350vh;
}

#aside-section2{
    height: 100%;
}




.playlist-queue-container{
    height: 800px;
}


.playlist-title-container{
    display: flex;
    /* border: 2px solid black; */
    /* justify-content: space-between; */
    
}

.playlist-title-container .child1{
    padding: 5px 20px 20px 10px;
    flex-grow: 2;
}

.child2{
    flex-grow: 0.5;
    padding:30px 10px 30px 30px;
    font-size: 20px;
    color: greenyellow;
}

.child2 a{
    text-decoration: none;
    color: greenyellow;
}

#pop-up:target{
   opacity: 1;
   transform: scale(1);
}

.options{
    position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}



.playlist-title-container .child3{
    padding: 30px 30px 30px 0px;
    flex-grow: 0;
    color: #047857;
}

.playlist-container{
    display: flex;
    /* border: 2px solid black; */
    justify-content: start;
    height: 100px;
   

}

.playlist-container span,img{
    /* border: 1px solid black; */
    font-size: 1rem;
    
}

 .playlist-container span{
    padding: 30px 5px;
    pointer-events: none;
}

.playlist-icon{
    padding: 30px 5px;
    pointer-events: none;
} 



.playlist-container img{
    height: 4rem;
    width: 100px;
    pointer-events: none;
}

.playlist-queue-container :hover{
    box-shadow: 0px 0px 2px 1px white;
}

.playlist-text{
   
    flex-grow: 1;
    pointer-events: none;
}

.playlist-queue-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





/*---footer---*/

footer{
    width: 100%;
    display: inline-block;
    /* border: 2px solid black; */
    height: 5rem;
    background-color: grey;
}

.music-player{
    display: flex;
    /* border: 1px solid red; */
    height: 100%;

}

.music-player .active-song-description{
    display: flex;
}

#song-image img{
    width: 4rem;
    height: 5rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.music-player .active-song-description span{
    font-size: 15px;
}

/* .music-player div{
     border: 2px solid black; 
    width: 33%;

} */

.music-player .active-song-description{
    width: 25%;
    justify-content: space-between;
}

#song-text {
    margin-top: 10px;
}

#song-icon{
    margin-top: 10px;
}

.song-player{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

#song-toggle{
    display: flex;
    justify-content: space-evenly; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;

}

#song-toggle span{
    font-size: 20px;
    /* margin-left: 80px; */
}

#player-toggle{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

#player-toggle input{
    flex-grow: 0.9;
    background-color: lawngreen;
}
#player-toggle span{
    flex-grow: 0;
    font-size: 18px;
    margin-top: 10px;
}



.song-player div{
    /* border: 1px solid black; */
    height: 50%;
}
.music-toggle{
    width: 25%;
    margin-top: 35px;
}

.page-footer{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;

}






