@media only screen and (max-width: 1200px) {
  body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 0.5rem;
    margin-top: 0;
  }

  #body-header {
    height: auto;
  }
  .header-container {
    height: auto;
  }
  .header-first-container {
    width: 13%;
  }
  .header-searchbar {
    width: 75%;
  }
  main {
    margin-top: 1rem;
  }

  .release-container {
    width: 100%;
    height: 20rem;
    justify-content: start;
  }

  .release-container .music-container {
    margin-left: 1rem;
    width: 42%;
  }
  .music-container div {
    width: 26%;
  }
  #popular-artists {
    width: 45rem;
  }
  .artist {
    justify-content: start;
    width: inherit;
    height: 10rem;
    margin-bottom: 8rem;
  }
  .artist div {
    width: 8rem;
    height: 1.5rem;
    margin-bottom: 7rem;
  }

  .station-container {
    height: inherit;
  }
  #div3 i {
    padding-left: 2rem;
    font-size: 2em;
  }
  #div3 span {
    padding-left: 0.3rem;
    font-size: 2.6em;
  }

  .genre-container {
    justify-content: space-around;
  }
  .genre-container div {
    width: 180px;
  }
  .genre-container .genre-stations div {
    left: 3.5rem;
    font-size: 1.5rem;
  }
  #english-songs .child {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  main {
    width: 95%;
  }
  .music-container div {
    width: 20%;
  }
  .artist {
    width: 100%;
    height: 18rem;
  }
  .artist div {
    width: 6rem;
    height: 1rem;
    margin-bottom: 2rem;
  }
  #side-button {
    position: absolute;
    top: 6rem;
    right: 1rem;
    display: inline-block;
  }
  .side-menu {
    position: absolute;
    width: 20%;
    top: 6rem;
    right: 3rem;
  }
  .aside-section1 {
    top: 8rem;
    right: 1rem;
    margin: 0;
    height: 10rem;
    font-size: 0.5rem;
  }

  .aside-section1,
  #aside-section2 {
    display: none;
    position: absolute;
    width: 30%;
    border: 1px solid white;
    background-color: blue;
  }

  #aside-section2 {
    top: 12rem;
    right: 1rem;
    height: 30rem;
  }
  .music-player .active-song-description {
    width: 33%;
    justify-content: space-between;
  }
  .song-player {
    width: 40%;
  }
  #song-toggle span {
    font-size: 15px;
  }
  #player-toggle span {
    font-size: 15px;
  }
  .music-toggle {
    width: 27%;
  }
  .music-toggle span {
    font-size: 15px;
  }
}
